<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsc.edu.bill.modules.audited.mapper.AuditMapper">

    <resultMap id="BaseResultMap" type="com.zsc.edu.bill.modules.audited.audit.Audit">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="ticketId" column="ticket_id" jdbcType="BIGINT"/>
            <result property="auditorId" column="auditor_id" jdbcType="BIGINT"/>
            <result property="comment" column="comment" jdbcType="VARCHAR"/>
            <result property="result" column="result" jdbcType="TINYINT"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,ticket_id,auditor_id,
        comment,result,create_by,
        create_time,update_by,update_time,
        remark
    </sql>
</mapper>
