<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsc.edu.bill.modules.bills.repo.BillRepository">

    <resultMap id="BaseResultMap" type="com.zsc.edu.bill.modules.bills.entity.Bill">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="body" column="body" jdbcType="VARCHAR"/>
        <result property="money" column="money" jdbcType="DECIMAL"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="type" column="type" jdbcType="TINYINT"/>
        <result property="contactEmail" column="contact_email" jdbcType="VARCHAR"/>
        <result property="companyName" column="company_name" jdbcType="VARCHAR"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="attachId" column="attach_id" jdbcType="VARCHAR" typeHandler="com.zsc.edu.bill.framework.mybatisplus.ListTypeHandler"/>
        <result property="auditorId" column="auditor_id" jdbcType="BIGINT"/>
        <result property="comment" column="audit_time" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,uuid,user_id,
        title,body,money,
        status,type,contact_email,
        company_name,create_by,create_time,
        update_by,update_time,remark
    </sql>


</mapper>
